html, body {
    height: 100%;
    min-height: 100%;
    max-width: 100%;
}
body {
    font-family: 'Montserrat';
    background-color: #002137;
}
#heroImageBox {
    position: relative;
    text-align: center;
    height: 45vh;
    margin: 0 auto;
}
#heroImage{
    height: 44vh;
    object-fit: cover; 
}
.container {
    position: relative;
    max-width: 90vw;
    width: 100vw;
}
.content{
    background-color: #002945;
}
.smallBox{
    margin-right: auto;
    margin-left: auto;
    max-width: 20rem;
}
#heroBox {
    background-image: url("../img/bg.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
}
#heroText, #contentText, #footer, #cv {
    font-size: 1vw;
}
#cv {
    width: 50vw;
    margin: 0 auto;
}
.text-justify {
    text-align: justify;
}
.icon {
    width: 1.5vw;
}
a {
    max-width: min-content;
}
.nowrap {
    white-space: nowrap;
    color: white;
}
#text{
    margin: 0 auto;
    position: relative;
}
#text2{
    position: relative;
    width: fit-content;
    font-size: 1vw !important;
    overflow: hidden;
}
#textHalf{
    max-width: 50vw;
    float: right;
}
.textInvert {
    max-width: 50vw;
    float: left;
}
#imgHalf{
    float: right;
    overflow: visible;
}
.imgInvert{
    float: left;
    overflow: visible;
}
.imgProject{
    width: 20vw;
}
#info {
    background-color: #002945;
}
#projects {
    background-color: #002137;
    box-sizing: content-box;
}
.project{
    min-height: 100%;
    min-width: 80vw;
    max-width: 80vw;
    margin: 0 auto;
    margin-bottom: 10vh;
    overflow: hidden;
}
#master {
    min-height: 100vh;
}
.button{
    transition: 150ms all;
    background-color: #038177;
}
.linkImg{
    height: 6vh;
    margin-right: 10px;
}
.linktext{
    text-decoration: none;
    color: #038177;
    font-size: 1.3vw;
}
.links{
    max-width: min-content;
    margin: 0 auto;
    position: relative;
}
.nav-link{
    transition: all 50ms;
}
.nav-link:hover{
    scale: 1.2;
}
.mx-6{
    margin: 0 15vw;
    margin-bottom: 2vh;
}
.display-6, .display-2{
    font-size: 2.8vw;
}
a:hover{
    color: #038177;
}
.linkItem{
    transition: all 150ms;
}
.linkItem:hover{
    scale: 1.2;
}
.button:hover{
    cursor: pointer;
    background-color: #016b62;
    scale: 1.1;
}
/* For mozilla */
@supports(-moz-appearance: none){
    .language{
        -webkit-appearance: none;
        appearance: none;
        width: 40vw;
        height: 30px;
        border-radius: 8px;
        background-color: rgb(27, 27, 27);
    }
}
::-moz-range-thumb{
    height: 7vh;
    width: 7vh;
    background: transparent;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border: 0;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}
::-moz-range-progress{
    height: 100%;
    border-radius: 8px;
}
.js::-moz-range-progress{
    background-color: #ccba44;
}
.js::-moz-range-thumb{
    background-image: url(../img/lg/js.png);
}
.ts::-moz-range-progress{
    background-color: #006db6;
}
.ts::-moz-range-thumb{
    background-image: url(../img/lg/ts.png);
}
.java::-moz-range-progress{
    background-color: #e76f00;
}
.java::-moz-range-thumb{
    background-image: url(../img/lg/java.png);
}
.sql::-moz-range-progress{
    background-color: #1f64a8;
}
.sql::-moz-range-thumb{
    background-image: url(../img/lg/sql.png);
}
.html::-moz-range-progress{
    background-color: #cd4420;
}
.html::-moz-range-thumb{
    background-image: url(../img/lg/html.png);
}
.css::-moz-range-progress{
    background-color: #105f99;
}
.css::-moz-range-thumb{
    background-image: url(../img/lg/css.png);
}
/* For chrome */
@supports (not (-moz-appearance: none)) {
    input[type="range"]{
        -webkit-appearance: none;
        appearance: none;
        border-radius: 8px;
    }
    input[type="range"] {
        position: relative;
        background: #fff0;
        overflow: hidden;
    }
    input[type="range"],
    input[type="range"]::-webkit-slider-runnable-track,
    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        transition: all ease 100ms;
        height: var(--thumb-height);
        background-color: currentColor;
    }
    input[type="range"]::-webkit-slider-thumb {
        --box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0 101vmax currentColor;
        box-shadow: var(--box-fill);
        border-radius: 8px;
        filter: brightness(100%);
        clip-path: polygon(
            100% -1px,
            var(--clip-edges) -1px,
            0 var(--clip-top),
            -100vmax var(--clip-top),
            -100vmax var(--clip-bottom),
            0 var(--clip-bottom),
            var(--clip-edges) 100%,
            var(--clip-further) var(--clip-further)
        );
    }
    input[type="range"]::-webkit-slider-runnable-track {
        background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center / 100% calc(var(--track-height) + 100px);
    }
    input[type="range"]::-webkit-slider-runnable-track:hover {
        filter: brightness(110%);
    }
    input[type="range"] {
        --thumb-height: 7vh;
        --track-height: 7vh;
        --track-color: rgb(27, 27, 27);
        width: 40vw;
    }
    input[type="range"].js{
        color: #ccba44;
    }
    input[type="range"].ts{
        color: #006db6;
    }
    input[type="range"].java{
        color: #e76f00
    }
    input[type="range"].sql{
        color: #1f64a8;
    }
    input[type="range"].html{
        color: #cd4420;
    }
    input[type="range"].css{
        color: #105f99;
    }
}
::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 7vh;
    width: 7vh;
    background: transparent;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border: 0;
    border-radius: 8px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}
input[type="range"].notcover::-webkit-slider-thumb {
    background-size: 6vh;
}
.js::-webkit-slider-thumb{
    background-image: url(../img/lg/js.png);
}
.ts::-webkit-slider-thumb{
    background-image: url(../img/lg/ts.png);
}
.java::-webkit-slider-thumb{
    background-image: url(../img/lg/java.png);
}
.sql::-webkit-slider-thumb{
    background-image: url(../img/lg/sql.png);
}
.html::-webkit-slider-thumb{
    background-image: url(../img/lg/html.png);
}
.css::-webkit-slider-thumb{
    background-image: url(../img/lg/css.png);
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background: #0381774f ;
}
::-webkit-scrollbar-thumb {
    background: #038177;
    border-radius: 7px;
}
::-webkit-scrollbar-thumb:hover {
    background: #006d64;
} 
/* For mobile */
@media (max-width:1000px) {
    #heroImage, #heroImageBox{
        height: 20vh;
    }
    #heroText, #contentText, #footer, .smallBox, .linktext, #cv {
        font-size: 2.8vw;
    }
    .display-6, .display-2{
        font-size: calc(1.425rem + 3vw);
    }
    #heroBox{
        min-height: 60vh;
    }
    #cv{
        margin: 0 15vw;
        width: 70vw;
    }
    #projetos{
        margin-bottom: 10vh;
    }
    #textHalf, .textInvert{
        max-width: none;
        margin: 0 auto;
    }
    #imgHalf, .imgInvert{
        text-align: center;
        width: 100%;
    }
    .imgProject{
        margin: 0 auto 3vh auto !important;
        width: 50vw;
    }
    .project{
        margin-bottom: 5vh;
    }
    .icon {
        width: 5vw;
    }
    .smallBox{
        margin: 0 auto;
        max-width: 40rem;
    }
    .language{
        width: 70vw;
    }
    input[type="range"] {
        --thumb-height: 3vh;
        --track-height: 3vh;
        width: 70vw;
    }
    /* chrome */
    ::-webkit-slider-thumb{
        height: 3vh;
        width: 3vh;
    }
    input[type="range"].notcover::-webkit-slider-thumb {
        background-size: 2.8vh;
    }
    /* moz */
    ::-moz-range-thumb{
        height: 3vh;
        width: 3vh;
    }
}